body {
    background-image: url("../images/Train-Background.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    text-align: center;
   
}

.trainTable {
    float: left;
   
}

.removeButton {
    margin-top: 10px;
}

.inputWidth {
    width: 65%;
    float: left;
}

#formStyle {
    background-color: white;
    margin-top: -17px;
}

label {
    margin-left: 15px;
    margin-top: 5px;
}

.form-control {
    width: 85%;
    margin-left: 15px;
}

#submitButton {
    margin-left: 15px;
    margin-bottom: 15px;
}

.bottom {
    margin-bottom: 50px;
}